.error{
    border: 2px solid #FF6565;
}
.error-message{
    color:#FF6565;
    
}

body {
    background-image: url(former.jpeg);
  /* background-image: url(https://th-i.thgim.com/public/business/agri-business/kcrj3w/article65651276.ece/alternates/LANDSCAPE_1200/2150_16_7_2022_15_32_17_1_AGRI_16072022_07.JPG); */
    background-size: cover;
    /* background-size: auto; */
  }
  